@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(7, 7, 97);
  /* background: url(/images/ball-7280265_640.jpg)rgb(40, 3, 110)  no-repeat center; */
}
.entete{
  color: beige;
  font-size: 1.8em;
  font-weight: 550;
  text-align: center;
  padding: 35px;
}

.card-list .card-item {
  color: #fff;
  width: 500px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  border-radius: 15px;
  border: solid black 3px;
}

.card-list .card-item .user-image {
  width: 400px;
  height: 285px;
  border-radius: 10px;
  margin-bottom: 40px;
  border: solid 2px white ;
	box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 1);
	-moz-box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 1);
	background-color: #387ACB;
}
.card-list .card-item .user-imagebiere {
  width: 350px;
  height: 221px;
  border-radius: 10px;
  margin-bottom: 40px;
  border: solid 2px white ;
	box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 1);
	-moz-box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 1);
	background-color: #387ACB;
}


h4{
  padding: 10px 0 0 0 ;
  font-weight: 250;
}

/* ============================================================== */
.card-list .card-item2 {
  color: #fff;
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  border-radius: 15px;
  border: solid black 2px;
}
.container2 .card-list .card-item2 .user-image2 {
  width: 450px;
  height: 280px;
  border: solid 2px rgb(4, 4, 68);
  border-radius: 20px;
	box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 1);
	-moz-box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 1);
	background-color: #387ACB;
}
#verticales{
  height: 450px;
  width:280px;
}
